.nav-section {
  background-color: lightcyan;
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}

.main-nav {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.login-frame {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  height: 60vh;
  width: 50vw;
  background-color: lightblue;
}

/* .login-page div {
  width: 100%;
  height: 25%;
  background-color: lightcyan;
} */

.login {
  width: 100%;
  height: 25%;
  background-color: lightcyan;
}

.form-div {
  width: 100%;
  height: 75%;
  background-color: lightcyan;
}

.form-div form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page div h1 {
  margin: 0;
  height: 100%;
  font-size: 4rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-nav a {
  padding: 2% 1%;
  background-color: darkcyan;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
